In [34]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import joblib

In [35]:
df = pd.read_csv('medical_costs.csv')
df.head()

   Age     Sex   BMI  Children Smoker     Region  Medical Cost
0   58    male  15.6         2    yes  northwest      17907.54
1   24    male  29.8         0    yes  northeast      16312.64
2   50    male  29.0         5     no  northwest       6819.21
3   35    male  34.0         1     no  southeast       5247.87
4   31  female  17.6         3    yes  southeast      17525.49

In [47]:
le = LabelEncoder()
df['Smoker'] = le.fit_transform(df['Smoker'])
df['Sex'] = le.fit_transform(df['Sex'])
X = df[['Age','Sex','BMI','Smoker']]
y = df['Medical Cost']

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

scaler = StandardScaler()
x_train_s = scaler.fit_transform(x_train)
x_test_s = scaler.transform(x_test)

model = LinearRegression()
model.fit(x_train_s,y_train)

model.score(x_test_s,y_test)

joblib.dump(model,"insurance.pkl")
joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']

In [63]:
ss = pd.read_csv('Heart_Disease_Prediction.csv')
ss.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [64]:
ss['Heart Disease'] = le.fit_transform(ss['Heart Disease'])

In [67]:
ss['Chest pain type'].unique()

array([4, 3, 2, 1])

In [66]:
X = ss[['Age','Sex','Chest pain type','BP','Cholesterol']]
y = ss['Heart Disease']

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler = StandardScaler()
x_train_s = scaler.fit_transform(x_train)
x_test_s = scaler.transform(x_test)

model = LogisticRegression()
model.fit(x_train_s,y_train)
model.score(x_test_s,y_test)


joblib.dump(model,"disease.pkl")
joblib.dump(scaler, "scaler1.pkl")

['scaler1.pkl']

In [56]:
X = ss.drop('Heart Disease',axis=1)
y = ss['Heart Disease']

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler = StandardScaler()
x_train_s = scaler.fit_transform(x_train)
x_test_s = scaler.transform(x_test)

dt = DecisionTreeClassifier()
dt.fit(x_train_s,y_train)

dt.score(x_test_s,y_test)

0.7407407407407407

In [57]:
rf = RandomForestClassifier()
rf.fit(x_train_s,y_train)

print(rf.score(x_test_s,y_test))

joblib.dump(model,"disease.pkl")
joblib.dump(scaler, "scaler1.pkl")

0.7407407407407407

['scaler1.pkl']